*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.coluna{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    justify-items: center;
}
.fotos p {
    margin: 0;
    text-align: center;
    padding: 10px;
    color: rgb(50, 4, 105);
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(92, 22, 22);
    padding: 30px;
    background-color: rgba(248, 83, 12, 0.822)
}